@import "tailwindcss";

html{
  scroll-behavior: smooth
}
body {
  @apply bg-[#FCF5EE];
}

.logos {
  @apply text-[#EE6983];
  height: 2em;
  width: 2em;
}

h1 {
  font-weight: bold;
  color: #850E35;
  font-size: 2rem
}

h2, h3, label {
  font-weight: 600;
  color: #850E35;
}

h2 {
  font-size: 1.5rem;
}

h3{
  font-size: 1.25rem;
}

p {
  color: #EE6983;
}

input, textarea {
  @apply text-[#EE6983] rounded-xl gap-2 m-2 p-4 w-full flex shrink focus:outline-[#EE6983]
}


.lightborder, input {
  @apply border-2 border-[#FFC4C4]
}

.flexcol {
  @apply flex flex-col flex-wrap
}

.buttoncolor{
  @apply bg-[#EE6983] text-[#FCF5EE] rounded-xl p-4
}
